{% extends "layout.twig" %}

{% block scripts %}
<script defer src="/javascripts/db.js"></script>
<script defer type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
<script defer src="/javascripts/dataTable.js"></script>
{% endblock scripts %}

{% block body %}
<h1 class="text-center p-3 text-light">Consultation</h1>

<div class="card border-primary bg-secondary text-light">
    <h3 class="m-3">Historique</h3>
    <table id="result-table" class="table text-light" style="width: 100%;">
        <thead>
            <tr>
                <th>Start</th>
                <th>Stop</th>
                <th>Remarques</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="result-table-body">
            {% for record in dbRecords %}
            <tr>
                <td>{{ record.start | date("Y/m/d H:i:s") }}</td>
                <td>{% if record.end == null %}
                    {{ "" }} {# Si une date est "null", twig envoie par défaut l'heure actuelle... #}
                    {% else %}
                    {{ record.end | date("Y/m/d H:i:s") }}
                    {% endif %}
                </td>
                <td>{{ record.remarques }}</td>
                <td name="button-area">
                    {# Le bouton envoie un GET avec le n° d'enregistrement correspondant #}
                    <a class="btn btn-warning" href="/db/{{record.id}}">&#x1F50E;</a>
                    <div title="Arrêter l'acquisition pour supprimer" name="tooltip" style="display:inline;">
                        {# J'utilise le package "method-override" pour envoyer une méthode DELETE #}
                        <form action="/db/{{record.id}}?_method=DELETE" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger" name="delete-button"
                                disabled>&#x1F5D1;</button>
                            {# Le bouton de suppression est "disabled" par défaut. Il est activé au chargement de la
                            page uniquement si on n'est pas en train d'enregistrer des données dans la DB.
                            Le serveur a tendance a crashé si on supprime quoi que ce soit durant un enregistrement. #}
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# <div>
    <label for="search">Search</label>
    <input type="text" name="search" id="db-search" placeholder="id de l'enregistrement">
    <button class="btn btn-primary" id="search-button">Go</button>
    <h3 id="record-number" class="m-2"></h3>
    <table id="result-table" class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>id</th>
                <th>mesure</th>
                <th>horodatage</th>
            </tr>
        </thead>
        <tbody id="result-table-body">
        </tbody>
    </table>
</div> #}
{% endblock body %}